<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="header">
    <div class="logo-container">
        <img src="/images/logo.png" alt="Random Logo" class="logo">
        <h1 class="brand">CustomThreads</h1>
    </div>

</div>
</div>

<hr>

<div class="container">
    <h2>Login</h2>
    <form id="loginForm" action="/login" method="post">
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit" value="Sign In">
        <p class="message">Not registered? <a href="/">Create an account</a></p>
    </form>
</div>

<hr>

<footer class="footer">
    <div class="footer-content">
        <img src="/images/logo.png" alt="Footer Logo" class="footer-logo">
        <div class="contact-details">
            <p>Contact: +1234567890</p>
            <p>Email: info@customthreads.com</p>
        </div>
    </div>
    <div class="address">
        <h3>Address:</h3>
        <p>123 Al Nahda empire building, Street 17A, Dubai, UAE</p>
    </div>
    <div></div>
</footer>
</body>
</html>