<!DOCTYPE html>
<html>
<head>
    <title>CustomThreads - Tailoring Website</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/services.css">
    <link rel="stylesheet" type="text/css" href="/css/checkout.css">
    <link rel="stylesheet" type="text/css" href="/css/project.css">

</head>
<body>

<header class="header">
    <div class="logo-container">
        <img src="/images/logo.png" alt="Random Logo" class="logo">
        <h1 class="brand">CustomThreads</h1>
    </div>
    <div class="menu">
        <button id="home-btn">Home</button>
    </div>

</header>

<hr>

<main class="main">
    <h1>Welcome <%= name %>!</h1>
    <ul id="services-list"></ul>

    <table>
        <tr>
            <th>Service</th>
            <th>Quantity</th>
            <th>Cost</th>
        </tr>
        <% services.forEach(function(service) { %>
            <tr>
                <td><%= service.service %></td>
                <td><%= service.quantity %></td>
                <td><%= service.quantity * service.price %></td>
            </tr>
        <% }); %>
    </table>

    <div class="update-account">
        <h2>Update Account Information</h2>
        <form action="/update-account" method="POST">
            <div class="form-group">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password">
                <button type="submit" name="updatePassword" id="updatePassword">Update Password</button>
            </div>
            <div class="form-group">
                <label for="email">New Email:</label>
                <input type="email" id="email" name="email">
                <button type="submit" name="updateEmail" id="updateEmail">Update Email</button>
            </div>
            <div class="form-group">
                <label for="username">New Username:</label>
                <input type="text" id="username" name="username">
                <button type="submit" name="updateUsername" id="updateUsername">Update Username</button>
            </div>
        </form>
    </div>
</main>

<footer class="footer">
    <div class="footer-content">
        <img src="/images/logo.png" alt="Footer Logo" class="footer-logo">
        <div class="contact-details">
            <p>Contact: +1234567890</p>
            <p>Email: info@customthreads.com</p>
        </div>
    </div>
    <div class="address">
        <h3>Address:</h3>
        <p>123 Al Nahda empire building, Street 17A, Dubai, UAE</p>
    </div>
    <div></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/services.js"></script>

</body>
</html>
<script>

</script>