<!DOCTYPE html>
<html>
<head>

    <title>Login Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>
<body>
<div class="header">
    <div class="logo-container">
        <img src="/images/logo.png" alt="Random Logo" class="logo">
        <h1 class="brand">CustomThreads</h1>
    </div>

</div>
</div>

<hr>

<div class="container">
    <form id="signupForm" action="/register" method="post">
        <h2>Sign Up</h2>
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="email" name="email" placeholder="Email" required><br>
        <input type="email" name="emailConfirmation" placeholder="Confirm Email" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="password" name="passwordConfirmation" placeholder="Confirm Password" required><br>
        <input type="submit" value="Register">
        <p class="message">Already registered? <a href="/login">Sign In</a></p>
    </form>
</div>


<section class="services" id="services">
    <h1 class="heading">Services that we offer:</h1>
    <div class="swiper services-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="box">
                    <img src="/images/Repairs_pic.jpg" alt="">
                    <div class="content">
                        <h3>Repairs</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="/images/Alterations_pic.jpg" alt="">
                    <div class="content">
                        <h3>Alterations</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="/images/Clothing_pic.jpg" alt="">
                    <div class="content">
                        <h3>Clothing</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="box">
                    <img src="/images/embroidery_pic.png" alt="">
                    <div class="content">
                        <h3>Custom Embroidery</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</section>


<hr>

<footer class="footer">
    <div class="footer-content">
        <img src="/images/logo.png" alt="Footer Logo" class="footer-logo">
        <div class="contact-details">
            <p>Contact: +1234567890</p>
            <p>Email: info@customthreads.com</p>
        </div>
    </div>
    <div class="address">
        <h3>Address:</h3>
        <p>123 Al Nahda empire building, Street 17A, Dubai, UAE</p>
    </div>
    <div></div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="/js/register.js"></script>


</body>
</html>
<script>
    <% if (loggedIn) { %>
    window.location.href = "/home";
    <% } %>
</script>